{% extends "bootstrap/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'bootstrap/utils.html' as utils %}

{% macro fancy_table(id, buttons=True, hideFirst=False, paging=True, column=1) %}
<script>
        $(document).ready( function () {
            $.fn.dataTable.moment( 'MM/DD/YYYY' );
            var table = $('#{{id}}').DataTable({
                colReorder: true,
                fixedHeader: true,
                responsive: true,
                deferRender: true,
                paging: {% if paging %}true{% else %}false{% endif %},
                "order": [[ {{column}}, "desc" ]],
                scollY: "50%"
                {% if buttons %}
                ,
                dom: 'Bfrtip',
                buttons: ['copy', 'excel', 'pdf']
                {% endif %}
            });
            $('#{{id}}').css("width", "80%");
            {% if hideFirst %}
            table.column( 0 ).visible( false );
            {% endif %}
            $('#{{id}}').DataTable().draw();
        });

    </script>
{% endmacro %}

{% block title %}
    CowBook
{% endblock %}

{% block navbar %}
    {{nav.navbar.render()}}
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='moment.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='DataTables/datatables.min.css')}}">
<script type="text/javascript" charset="utf8"
        src="{{url_for('static', filename='DataTables/datatables.min.js')}}"></script>
{% if current_user.is_active and current_user.is_authenticated %}
<script>
        $(".navbar-collapse").append(
            '<ul class="nav navbar-nav" style="float: right;">\
                <li><a href="/admin" style="padding-right: 0px">Admin</a></li>\
            </ul>'
        );


</script>
<script>
    $.fn.dataTable.moment = function ( format, locale ) {
        var types = $.fn.dataTable.ext.type;

        // Add type detection
        types.detect.unshift( function ( d ) {
            return moment( d, format, locale, true ).isValid() ?
                'moment-'+format :
                null;
        } );

        // Add sorting method - use an integer for the sorting
        types.order[ 'moment-'+format+'-pre' ] = function ( d ) {
            return moment( d, format, locale, true ).unix();
        };
    };

</script>
{% endif %}
{%- endblock scripts %}