{% extends "base.html" %}

{% block title %}
Add Event
{% endblock %}

{% block app_content %}


<div id="formwrapper">
    <form method="post" onsubmit="return submitForm()">
        <label for="select-cow">Select Cow</label>
        <select id="select-cow" class="form-control" required="required">Cow
            <option value="0">None</option>
        </select>
        <div hidden>
            {% for field in form %}
            {{field}}
            {% endfor %}
            <input class="form-control" id="formType" name="formType" type="text" value="{{formType}}">
        </div>
        <br>
        <input class="btn btn-default" id="submit" name="submit" type="submit" value="Submit">
    </form>
    <br>
    <p id="status"></p><br>
    <h2>Data:</h2>
    {% for field in form %}
    {% if field.name != "csrf_token"%}
    {{field.name}}: {{field.data}}<br>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    function cowOptions(data) {
        var selector = document.getElementById("select-cow");
        for (var i = 0; i < data.length; i++) {
            var option = document.createElement("option");
            option.text = data[i].name;
            option.value = data[i].id;
            selector.add(option);
        }
    }
    $.get("/api/herd", cowOptions);

    function submitForm() {
        var formData = new FormData(document.querySelector('form'));
        var id = document.querySelector('select').value
        var request = new XMLHttpRequest();
        request.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 301) {
                document.getElementById("status").innerHTML = "Event added";
            }
        }
        url = "/herd/" + id + "/addEvent"
        request.open("POST", url);
        request.send(formData);
        document.querySelector('select').selectedIndex = 0;
        return false;
    }

</script>
{%- endblock scripts %}