pytest
Pillow
ics
bcrypt
flask-admin
flask-security
flask-json
Babel==2.9.1
Click==8.0.3
decorator==5.1.0
dominate==2.6.0
Flask
Flask-Babel==2.0.0
Flask-Bootstrap==3.3.7.1
Flask-Migrate
flask-nav==0.6
Flask-SQLAlchemy==2.5.1
Flask-Table==0.5.0
Flask-WTF==0.15.1
infinity==1.5
intervals==0.9.2
itsdangerous==2.0.1
Jinja2
Mako
MarkupSafe==2.0.1
python-dateutil==2.8.2
python-editor==1.0.4
pytz==2021.3
six==1.16.0
SQLAlchemy
SQLAlchemy-Utils==0.37.9
validators==0.18.2
visitor==0.1.3
Werkzeug==2.0.2
WTForms==2.3.3
WTForms-Alchemy==0.17.0
WTForms-Components==0.10.5