{% extends "base.html" %}

{% block title %}
{{cow.name}}
{% endblock %}

{% block app_content %}
{% if cow.photo %}
<a href="{{'/static/Pictures/' + cow.photo}}">
    <img src="{{'/static/Pictures/small/' + cow.photo}}" height="200" style="float:left; margin-right:10px">
</a>
{% endif %}
{% if current_user.is_authenticated %}
<span style="float: right">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#"
                   role="button">Edit
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">

                    <li><a href="{{url_for('app.treatment', cowId=cow.id)}}" role="button">Add Event</a></li>
                    <li><a href="{{url_for('app.add_note', cowId=cow.id)}}" role="button">Add Note</a></li>
                    <li>
                        <a href="{{ url_for('app.edit_dam', cowId=cow.id)}}">{{"{} Dam".format("Edit" if dam else "Add")}}</a></li>
                    <li><a href="{{ url_for('app.edit_sire', cowId=cow.id)}}">{{"{} Sire".format("Edit" if sire else "Add")}}</a></li>
                    <li><a>
                        <form method="post"
                              action="{{ url_for('app.set_active', cowId=cow.id, boolean='false' if cow.active else 'true')}}"
                              class="inline">
                          <button type="submit" name="submit_param" value="submit_value" class="btn btn-link"
                                  style="padding: unset; text-decoration: none; color: inherit;">
                            Mark {{"Inactive" if cow.active else "Active"}}
                          </button>
                        </form>
                        </a>
                    </li>

                    <li><a href="{{ url_for('app.edit_cow', cowId=cow.id) }}">Edit</a></li>

                </ul>
            </li>
          </ul>

    </li>
    </ul>
    </span>
{% endif %}
<div id="cowInfo">
    <h3>
        Name: {{cow.name}}<br>
        DOB: {{cow.dob.strftime("%m/%d/%Y")}}<br>
        Tag #: {{cow.earTag}}<br>
        Sex: {{cow.sex}}<br>
        Carrier: {{cow.carrier}}<br>
        Owner: {{cow.owner}}<br>
        Markings: {{cow.markings}}<br>
        Status: {{cow.status}}<br>

            {% if dam or sire %}
            Parents:<br>
        </h3>
        <h4>
            {% if dam %}
            Dam: <a href="{{url_for('app.cow', cowId=dam.id)}}">{{dam.name}}</a><br>
            {% endif %}
            {% if sire %}
            Sire: <a href="{{url_for('app.cow', cowId=sire.id)}}">{{sire.name}}</a>
            {% endif %}
        </h4>
            {% else %}
            </h3>
            {% endif %}

    </div>

    <div id="tables">
        {% if cow.sex == "cow" %}
        <h3>Breedings</h3>
            {{breedings}}
        <h3>Pregnancy Checks:</h3>
            {{pregnancyCheck}}
        {% endif %}

        {% if cow.sex != "steer"%}
        <h3>Calves:</h3>
        {{calves}}
        {% endif %}
        <h3>Weights:</h3>
        {{weights}}
        <h3>Events:</h3>
        {{events}}
        <h3>Treatments:</h3>
        {{treatments}}
        <h3>Notes:</h3>
        {{notes}}
        <br>

    </div>
<a class="btn btn-primary" href="{{url_for('app.stats', cowId=cow.id)}}" role="button">Stats</a>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ fancy_table('HerdTable', buttons=False) }}
{{ fancy_table('Weights', buttons=false, hideFirst=True) }}
{{ fancy_table('Events', buttons=false, hideFirst=True) }}
{{ fancy_table('Treatments', buttons=false, hideFirst=True) }}
{{ fancy_table('PregnancyChecks', buttons=false, hideFirst=True) }}
{{ fancy_table('breedingHistory', buttons=false, hideFirst=True) }}
{{ fancy_table('NoteTable', buttons=False) }}
{%- endblock scripts %}