{% extends "base.html" %}
{%- block styles %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/list/main.min.js"></script>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: [ 'dayGrid', 'timeGrid', 'list' ],
        header: { center: 'dayGridMonth,timeGridWeek' }, // buttons for switching between views
        defaultDate: "{{defaultDate}}",
        views: {
            dayGridMonth: {
                titleFormat: { year: 'numeric', month: '2-digit', day: '2-digit' },
                defaultDate: "{{defaultDate}}"
            },
            list: {
                type: 'list'
            }
        },
        events: "/api/herd/duedates"
    });

    calendar.render();
    //console.log(calendar.view);
  });

</script>
{%- endblock styles %}

{% block title %}
    Due Dates
{% endblock %}
{% block app_content %}
<body>
    <a class="btn btn-primary" href="{{url_for('api.export_due_dates')}}" role="button"
       style="float: right; margin-left: 0.75em">Export</a>
    <div id='calendar'></div>

  </body>
{% endblock %}